body {
 background-color: #e6ecf0
}

.navbar{
  margin-bottom: 1rem;
}

.appcomp > .navbar{
  background-image: linear-gradient(to right, #000000 , #EB5757);
  background-size: 100%;
}

.navbar a{
  font-weight: bold;
  color:white;
}


.navbar a:hover{
  color:white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar li{
  padding: 10px;
}
.navbar-brand > img{
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin:0 0.5 rem;
}

.home-hero{
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./images/loo.png");
  padding:1rem;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  color:white;
  text-shadow:0 0 8px #66757f
}

#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item{
  background-color: #e6ecf0;
}

.timeline-image{
  border-radius:50px;
  height:48px;
  width:48px;
  margin:2px 30px 10px 10px;
}

.btn:hover{
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger{
  color:white;
}