@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
 background-color: #f9f6f7;
 font-family: 'Itim', cursive;
 
}

/* .navbar{
  margin-bottom: 1rem;
} */

.appcomp > .navbar{
  background-image: linear-gradient(to left,#18191a , #222,black,hsl(210,4,9), rgb(24,25,26));
  background-image: linear-gradient(to left,#18191a , #222,black,rgb(22,23,24),rgb(24,25,26));
  background-color: #8675a9;
  background-size: 100%;
 
}

/* .bg{
  background-image: linear-gradient(to left, #0F2027 ,#203A43, #2C5364);
} */

#parent {display: table;}

#child {
    display: table-cell;
    vertical-align: middle;
}

.navbar a{
  font-weight: bold;
  color:white;
}

.btn-primary{
  background-color: #58e1b8;
  border-color: #58e1b8;
  width: 15vw;
}

.navbar a:hover{
  color:white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar li{
  padding: 10px;
}
.navbar-brand > img{
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin:0 0.5 rem;
}
.circleList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circleLi{
  text-align: center;
  width: 20%;
}

.circleLiFeed{
  text-align: center;
  width: 50%;
}


.postcard{
  width:50%;
}

.postlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-button{
  background-color: #58e1b8;
  border-color: #58e1b8;
  width: 5vw;
}

.postDeleteDiv{
  text-align: right;
  padding: 5px;
  margin-right: 10px;
  color:"red"
}

.fa-trash{
  color:red;
}

.extraHeading{
  font-size: 40px;
}
.onclick{
  cursor: pointer;
}

ul{
  list-style-type:none;
}

.home-hero{
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  /* background-image: url("./images/loo.png"); */
  padding:1rem;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  color:black;
  text-shadow:0 0 8px #ffffff
}

#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item{
  background-color: #e6ecf0;
}

.timeline-image{
  border-radius:50px;
  height:48px;
  width:48px;
  margin:2px 30px 10px 10px;
}

.btn:hover{
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger{
  color:white;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}