@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
 background-color: #edffea;
 font-family: 'Itim', cursive;
}

/* .navbar{
  margin-bottom: 1rem;
} */

.appcomp > .navbar{
  background-image: linear-gradient(to left, #30b28e ,#58e1b8, #ffffff);
  background-size: 100%;
}

#parent {display: table;}

#child {
    display: table-cell;
    vertical-align: middle;
}

.navbar a{
  font-weight: bold;
  color:white;
}

.btn-primary{
  background-color: #58e1b8;
  border-color: #58e1b8;
  width: 15vw;
}

.navbar a:hover{
  color:white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar li{
  padding: 10px;
}
.navbar-brand > img{
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li{
  margin:0 0.5 rem;
}

.home-hero{
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  /* background-image: url("./images/loo.png"); */
  padding:1rem;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  color:black;
  text-shadow:0 0 8px #ffffff
}

#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item{
  background-color: #e6ecf0;
}

.timeline-image{
  border-radius:50px;
  height:48px;
  width:48px;
  margin:2px 30px 10px 10px;
}

.btn:hover{
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger{
  color:white;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}